@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Scrollbar */
::-webkit-scrollbar {
    background: transparent !important;
    /* background-color: #151515; */
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#151515, #bc26d6, #fe7ab6 );
    border-radius: 100px;
  }

  /* Scrollbar Track */
::-webkit-scrollbar {
  width: 10px;
  background: transparent !important;   /* Track is transparent */
}

/* Optional: Scrollbar Track piece behind thumb (for Firefox) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#151515, #bc26d6, #fe7ab6);
  border-radius: 100px;
}


/* base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    
}


:root {
    font-family: "Poppins", monospace;
    font-size: 16px;
    --primary: #bc26d6;
    --secondary: #fe7ab6;
    --primary-light: #FDFDFC;
    /* --secondary-light: #F1F0EE; */
    --primary-dark: #151515;
    --secondary-dark: #252525;
}


html {
    min-height: 100vh;
    margin: 0;
    overflow-x: auto;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    margin: 0;
    padding: 0;
}

body {
    background: #151515 !important;
      /* background: transparent !important; */
}

section {
    background: #151515;
    margin: 0;
    padding: 0;
    /* background: transparent !important; */
}

p {
    color: var(--primary-light);
}


/* #bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.wrapper {
  position: relative;
  z-index: 1;
} */
